{% extends 'base.html.twig' %}

{# ... #}

{% block body %}

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
	<div class="container">
		<h1>Login</h1>
<<<<<<< HEAD
		<form action="" method="post">
=======
		<form action="{{path("admin")}}" method="post">
>>>>>>> 79325982429fd793113ce811b405746a18565079
			<div class="form-group">
				<label for="username">Email:</label>
				<input class="form-control" type="text" id="username" name="_username" value=""/>
			</div>

			<div class="form-group">
				<label for="password">Password:</label>
				<input class="form-control" type="password" id="password" name="_password"/>
			</div>
<<<<<<< HEAD
			
			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
=======
			{# <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"> #}
>>>>>>> 79325982429fd793113ce811b405746a18565079

			<button class="btn btn-success my-3" type="submit">login</button>
		</form>
	</div>
{% endblock %}
