{% extends 'base.html.twig' %}

{# ... #}

{% block body %}

    <div class="container" style="background-color:#191515; text-align:center">
        <div class="container-fluid pt-5" style="text-align:center">
            <img src="../assets/images/Logo.png" style="width:300px; height: 300px;" alt="logo RCL eSport Team">
        </div>

        <h1 style="text-align:center; color:#F4F3F0;" class="pt-5">Connexion Back-Office</h1>

        <form action="" method="post" class="d-flex flex-column align-items-center">

            {% if error %}
                <div class="error" style="padding: 10px; background-color: rgba(238,88,55,0.3); border: 1px solid rgba(238,88,55,1); border-radius: 10px; color: #F4F3F0">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <div class="input-group my-3" style="width:500px">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1" style="color:#191515; width:110px">@ Email :</span>
                </div>
                <input type="text" style="background-color:#F4F3F0; color:#191515" class="form-control" id="username" name="_username" value="">
            </div>

            <div class="input-group my-3" style="width:500px">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1" style="color:#191515; width:110px"> Password : </span>
                </div>
                <input type="password" style="background-color:#F4F3F0; color:#191515" class="form-control"  id="password" name="_password">
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button class="btn btn-success my-3" style="width: 200px;" type="submit">Connexion</button>
        </form>
    </div>

{% endblock %}
